beautifulsoup4==4.9.3
black==19.10b0
certifi>=2022.12.7
defusedxml==0.7.1
gensim>=3.8.0
Keras==2.4.3
matplotlib==3.3.4
mwparserfromhell==0.6
nltk>=3.6.4
numpy>=1.20.0
packaging==20.9
pandas==1.2.2
pyOpenSSL==20.0.1
pytest==6.2.2
pytest-cov==2.11.1
scikit-learn==0.24.1
sentence-transformers==0.4.1.2
spacy==2.3.5
stopwordsiso==0.6.1
tensorflow>=2.5.1
tqdm==4.56.1
